/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-oct-2018, 10:33:35
    Author     : P061
*/
body{
    padding-top: 2%;
    background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%) no-repeat;
    background-size: 100% 1400px;
}

.title{
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(32,143,228,1) 100%) no-repeat;
    height: 100px;
    text-align: center;
    color: white;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, black 0.3em 0.3em 0.3em;
}

#info{
    padding-top: 2%;
    text-align: center;
    font-size: 25px;
    font-family: 'Courgette';
}