<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        
        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

        <link href="/enemiesStyle.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div>
            <div class="title">
            <h1 class="display-3">ENEMIES</h1>
        </div>

            <div id="info">
                <p>The different enemies that you will have to fight are:</p><br>

                <ul>
                    <li><p>-Koopa Troopas: This is the most common enemy, they fly around 
                            and have different types:</p>
                        <ul>
                            <li><p>-Green Trooper: Has a low attack speed and needs 2 hits to die.</p></li>
                            <li><p>-Red Trooper: Has a low attack speed and needs 3 hits to die.</p></li>
                            <li><p>-Blue Trooper: Has a medium attack speed and needs 4 hits to die.</p></li>
                            <li><p>-Purple Trooper: Has a high attack speed and needs 5 hits to die.</p></li>
                            <li><p>-Black Trooper: Has a very high attack speed and needs 10 hits to die.</p></li>
                        </ul>
                    </li>
                    <li>
                        <p>-Ghost: Rare enemy that spawns in the 3rd level. It spawns at a random 
                            location and it will move a bit trying to hit you to fade away later.</p>
                    </li>
                    <li>
                        <p>-Bowser: Really powerfull enemy, he has to get hit 100 times to go down.
                            He has a barrier which blocks your attacks, he shoots waves of 3 shots,
                            he orders a rocket to come down at you and he is fast, way faster if he gets 
                            under 25% health, that will make him to enrage and increase his movement 
                            speed and attack speed.</p>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
