<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Forgot your password?</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <link href="/forgotpasswordStyle.css" rel="stylesheet" type="text/css"/>

        <script>
            function emailSent() {
                alert("Email sent successfully");
            }
        </script>

    </head>
    <body>
        <div>
            <form style="margin-left: 40%;margin-right: 40%;border: 1px solid black" class="form" role="form" th:action="@{/send-password}" th:object="${userDTO}" onsubmit="emailSent()" action="#" method="POST">
                <label>Username:</label>
                <div class="form-group">
                    <input id="usernameInput" th:field="*{username}" name="username" placeholder="User" class="form-control form-control-sm" type="text" required="">
                    <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span>
                </div>
                <label>Email:</label>
                <div class="form-group">
                    <input id="emailInput" th:field="*{emailAddress}" name="email" placeholder="Email" class="form-control form-control-sm" type="email" required="">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                </div>
            </form>
        </div>
        
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="loginmodal-container">
                    <h1>Login to Your Account</h1><br>
                    <form>
                        <input type="text" name="user" placeholder="Username">
                        <input type="password" name="pass" placeholder="Password">
                        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                    </form>

                    <div class="login-help">
                        <a href="#">Register</a> - <a href="#">Forgot Password</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
