<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

        <link href="/howToPlayStyle.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div>
            <div class="title">
                <h1 class="display-3">HOW TO PLAY?</h1>
            </div>

            <div id="info">
                <p>Hello there Mario!, have you forgotten how to play?.<br>

                    Don't worry!, We will help you!.<br>
                    As an arcade game the controls are really simple: 
                    -Use A and D to move your character to left and right.
                    -Use W to shoot (As fast as you can!).<br>
                    
                    You can pick up items just by walking into them.<br>
                    
                    Shoot the enemies with your fireball and try to defeat them, 
                    they will get hurt if you hit them.<br>

                    A good tip would be to never stop moving, the more you move, the 
                    harder will be to hit you.<br>

                    The goal is to defeat the final boss (Bowser), and get 
                    the highest score. Show your friends who's the best 
                    in the leaderboard!.</p>
            </div>
        </div>
    </body>
</html>
