<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

        <link href="/introStyle.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="title">
            <h1 class="display-3">INTRODUCTION</h1>
        </div>

        <div>

            <div id="info">
                <p>Welcome to Super Mario Invaders, an arcade game type Shump (Shoot'em up) 
                    and Fixed Shooters.
                    It is centered in the universe of Mario Bros. You have to get trough the levels 
                    killing the waves of enemies that are comming for the princess.<br>

                    The mechanics are quite simple, if you get hit once you will become small, 
                    and the game will be over if you get hit again. If you survive the waves of 
                    enemies you will head to the next stage. There are also 
                    different items which will power you up to make it a fair fight.<br>

                    Be careful, because not every level has the same enemies, and not every 
                    enemy has the same characteristics. Moreover, the game will get harder the more you advance.<br>

                    Good luck! We trust in you to defeat the evil Bowser!.</p>
            </div>
        </div>
    </body>
</html>
