<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

        <link href="/itemsStyle.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div>
            <div class="title">
                <h1 class="display-3">ITEMS</h1>
            </div>

            <div id="info">
                <p>The available items in the game are:</p>
                <div>
                    <table class="block">
                        <tbody>
                            <tr>
                                <td style="background-color: #f3f3f3">Fire Flower: this item will make you to shoot 3 fireballs 
                                    in a cone for 3 seconds!. The damage is the same for every 
                                    fireball, but you will be able to clear big waves of 
                                    enemies when you need it!.</td>
                                <td><img src="/flower.png" alt="fire flower"></td>
                            </tr>
                            <tr>
                                <td><img src="/iceflower.png" alt="ice flower"></td>
                                <td style="background-color: #f3f3f3">-Ice Flower: this item will make your shots to follow your enemies, 
                                    going for the one that is the nearest to your position.
                                    If the enemy dies while the shot is chasing him, the shot will 
                                    wait until other enemy moves around.</td>
                            </tr>
                            <tr>
                                <td style="background-color: #f3f3f3">-Mushroom: this item will make you big again if you were 
                                    a little and inoffensive Mario, giving you the chance to get hit 
                                    again. The mushroom will moving, so you just have to survive until 
                                    it comes to you!.</td>
                                <td><img src="/shroom.png" alt="mushroom"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
